<template>
  <v-dialog v-model="loading" persistent fullscreen content-class="loading-dialog">
        <v-container fill-height>
          <v-layout v-if="!speciesFound" row justify-center align-center>
            <v-progress-circular indeterminate :size="70" :width="7" color="blue"></v-progress-circular>
          </v-layout>
          <v-layout v-else column justify-center align-center class="species-result-container">
            <v-flex xs12>
              <span>Det ser ut som att du har hittat en</span>
              <h1>{{ species.sweName }}!</h1>
              <span>Sannolikhet: {{ formattedProbability }} </span>
              <img :src="img" alt="Artbild">
              <div class="alternative-species">
                <h3>Men det skulle också kunna vara en:</h3>
                <ul>
                  <li v-for="species in alternativeSpecies" :key="species.sweName">
                    {{species.sweName}}: {{ (species.probability*100).toFixed(0) }}%
                  </li>
                </ul>
              </div>
              <div>
              <v-btn color="primary" @click="$emit('dismiss')">Tillbaka</v-btn>
                <v-btn color="success" @click="$router.push('/submitsighting');">Rapportera</v-btn>
                
              </div>
            </v-flex>
          </v-layout>
        </v-container>
      </v-dialog>
</template>

<style lang="scss">
.loading-dialog {
  background-color: rgba(#000, 0.7);
}

.alternative-species {
  ul {
    list-style-type: none;
    li {
      
    }
  }
}

.species-result-container {
  color: #fff;
  margin-top: 50px;
  text-align: center;
  
  h2, span {
    display: inline-block;
    width: 100%;
  }

  h2 {
    padding: 10px 0;
  }

  img {
    max-width: 600px;
    width: 60%;
    border-radius: 20px;
  }
}
</style>

<script>
export default {
  props: ['loading', 'speciesFound', 'img', 'alternativeSpecies'],
  data() {
    return {
    };
  },
  computed: {
    species() {
      if(this.$store.state.activeSpecies) return this.$store.state.activeSpecies;
      return {};
    },
    formattedProbability() {
      if(!this.$store.state.activeSpecies) return null;
      const species = this.$store.state.activeSpecies;
      if(species.probability >= '0.5') {
        return 'Stor';
      }
      else if(species.probability >= '0.2') {
        return 'Mellan';
      }
      else {
        return 'Liten';
      }
    }
  }
};
</script>


