<template>
  <v-layout column justify-center align-center class="main-navigation">
  <!--
    <v-flex xs-12 @click="$router.push('/challenges')">
      <v-btn>Utmaningar</v-btn>
    </v-flex>
    <v-flex xs-12>
      <v-btn>Ranking</v-btn>
    </v-flex>
    <v-flex xs-12>
      <v-btn>Profil</v-btn>
    </v-flex>-->
  </v-layout>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.main-navigation {
  width: 100%;
  text-align: center;
  .flex {
    width: 80%;
    max-width: 400px;

    button {
      width: 100%;
    }
  }
}
</style>