<template>
  <div class="progress-bar">
    <span><strong>Framsteg:</strong></span>
    <v-progress-linear :value="progress.value" height="30" color="info"></v-progress-linear>
    <span>{{progress.found}} / {{ progress.total }}</span>
  </div>
</template>

<script>
  export default {
    props: ['progress'],
    data() {
      return {

      }
    }
  }
</script>

<style lang="scss" scoped>
.progress-bar {
  text-align: center;
  width: 100%;
}
</style>


