<template>
  <v-layout column justify-center align-center class="species-form">
    <identification-dialog :loading="analyzingImg" 
      :speciesFound="speciesFound" 
      :img="img" 
      :alternativeSpecies="alternativeSpecies"
      @dismiss="speciesFound=false;analyzingImg=false;"></identification-dialog>
    <v-flex xs12 class="species-form">
      <div class="photo-button" @click="selectImage">
          <v-icon>photo_camera</v-icon>
      </div>
    </v-flex>
    <v-flex xs12 style="margin-top: 20px;">
          <h2>Registrera fynd</h2>
    </v-flex>
    <v-flex xs12 class="species-text-input">
      <v-text-field
        name="species"
        label="Artens namn"
        v-model="speciesName"
      ></v-text-field>
    </v-flex>
    <input type="file" accept="image/*" id="file-input"  @change="processFile($event)">
    <v-flex xs12>
      <v-btn color="success" @click="submitWithoutImg">Fortsätt</v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
import IdentificationDialog from '@/components/IdentificationDialog';

export default {
  name: 'species-form',
  components: {
    IdentificationDialog
  },
  data() {
    return {
      analyzingImg: false,
      speciesName: null,
      speciesFound: false,
      alternativeSpecies: [],
      img: null
    };
  },
  methods: {
    selectImage() {
      document.getElementById('file-input').click();
    },
    submitWithoutImg() {
      this.$store.commit('setActiveSpecies', { sweName: this.speciesName });
      this.$router.push('/submitsighting');
    },
    async processFile(e) {
      this.analyzingImg = true;
      this.img = URL.createObjectURL(e.target.files[0]);

      console.log('Image file:', e.target.files[0]);

      let formData = new FormData();
      formData.append('file', e.target.files[0]);
      const config = {
        headers: { 'Content-Type': 'multipart/form-data' }
      };

      const res = await this.$axios.$post(
        process.env.apiBaseUrl + '/predict',
        formData,
        config
      );

      const mostLikelySpecies = res[0];
      this.alternativeSpecies = res.slice(1, 6);

      console.log('Setting species to: ', mostLikelySpecies);
      this.$store.commit('setActiveSpecies', mostLikelySpecies);
      this.$store.commit('setActiveSpeciesImgSrc', URL.createObjectURL(e.target.files[0]));

      console.log(res);

      this.speciesFound = true;

      //this.$router.push('/submitsighting');
    },
    async identifyImg(imgFile) {
      return new Promise(async (resolve, reject) => {
        let formData = new FormData();
        formData.append('image', imgFile);
        const config = {
          body: formData,
          method: 'POST',
          headers: {}
        };

        //const b64 = btoa(String.fromCharCode.apply(null, array));
        console.log(process.env.apiBaseUrl);
        await fetch(process.env.apiBaseUrl + '/predict', config);
        // const res = await this.$axios.$post(
        //   process.env.apiBaseUrl + '/predict',
        //   formData,
        //   config
        // );
        console.log(res);
        //const binaryString = String.fromCharCode.apply(null, array);
        //console.log(binaryString);
      });
    }
  }
};
</script>


<style lang="scss">
#file-input {
  display: none;
}
.species-form {
  width: 80%;
  max-width: 600px;
  text-align: center;
}

.species-text-input {
  width: 100%;
  max-width: 400px;
}

.photo-button {
  padding: 20px;
  border: 2px dashed rgba(#222, 0.5);
  border-radius: 15px;
  max-width: 200px;
  margin: 0 auto 15px auto;
  overflow: hidden;
  transition: all 0.1s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  i {
    font-size: 120px;
  }
}
</style>

