<template>
  <v-dialog v-model="visible" persistent fullscreen content-class="loading-dialog">
        <v-container fill-height>
          <v-layout column justify-center align-center class="dialog-content">
            <v-flex xs12>
              <img src="/img/checkbox.png">
              <h1>Tack för ditt bidrag!</h1>
            </v-flex>
          </v-layout>
        </v-container>
      </v-dialog>
</template>

<style lang="scss">
.loading-dialog {
  background-color: rgba(#000, 0.7);
}
  .dialog-content {
    .flex {
      text-align: center;
      color: #fff;
      margin-top: 100px;
    }
    img {
      width: 60%;
      max-width: 200px;
      margin-bottom: 20px;
    }
  }
</style>

<script>
export default {
  props: ['visible'],
  data() {
    return {
    };
  },
  watch: {
    visible(val) {
      if(val === true) {
        setTimeout(() => { this.$router.push('/home') }, 2000);
      }
    }
  },
  computed: {
    species() {
      if(this.$store.state.activeSpecies) return this.$store.state.activeSpecies;
      return {};
    },
    formattedProbability() {
      if(!this.$store.state.activeSpecies) return null;
      const species = this.$store.state.activeSpecies;
      if(species.probability >= '0.5') {
        return 'Stor';
      }
      else if(species.probability >= '0.2') {
        return 'Mellan';
      }
      else {
        return 'Liten';
      }
    }
  }
};
</script>


