<template>
  <v-app light>
    <div style="text-align: center; background: #fff; padding: 10px 0;">
        <h2>Project Art</h2>
    </div>
    <v-tabs fixed-tabs>
    <v-tab @click="$router.push('/home')">
      <v-icon>home</v-icon>
    </v-tab><!--
    <v-tab>
      <v-icon>send</v-icon>
    </v-tab>-->
    <v-tab @click="$router.push('/challenges')">
      <v-icon>star</v-icon>
    </v-tab>
    <v-tab>
      <v-icon @click="$router.push('/scoreboard')">trending_up</v-icon>
    </v-tab>
    <v-tab>
      <v-icon>person</v-icon>
    </v-tab>
  </v-tabs>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      clipped: false,
      drawer: true,
      fixed: false,
      items: [
        { icon: 'apps', title: 'Welcome', to: '/' },
        { icon: 'bubble_chart', title: 'Inspire', to: '/inspire' }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Project Art'
    };
  }
};
</script>


<style lang="scss" scoped>
.toolbar-title {
  width: 100%;
  text-align: center;
}
</style>