<template>
  <v-layout row wrap class="">
    <v-flex xs12>
      <h1>Utmaningar</h1>
    </v-flex>
    <v-flex xs12>
      <h2>Aktiva</h2>
      <v-card v-for="challenge in activeChallenges" :key="challenge.id">
        <v-card-title>
          <h2 style="width: 100%;">{{challenge.title}}</h2>
          <span>{{ formattedDate(challenge.startDate) }} - {{ formattedDate(challenge.endDate) }}</span>
          <div class="reward-label-container">
            <img src="/img/credits.png">
            <span>100</span>
          </div>
        </v-card-title>
        <v-card-text>
          <v-layout row>
            <v-flex xs-6>
            </v-flex>
          </v-layout>
          <span><strong>Beskrivning:</strong></span>
          <p>{{ challenge.description }}</p>
          <span><strong>Hitta följande arter:</strong></span>
           <v-list two-line>
              <template v-for="species in challenge.speciesGoals">
                <v-divider :key="species.name"></v-divider>
                <v-list-tile avatar :key="species.name">
                  <!--<v-list-tile-avatar>
                    <img :src="species.image">
                  </v-list-tile-avatar>-->
                  <v-list-tile-content>
                    <v-list-tile-title v-html="titleCase(species.name)"></v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
              </template>
            </v-list>
            <progress-bar :progress="getChallengeProgress(challenge)"></progress-bar>
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex xs12>
      <h2>Tillgängliga</h2>
      <v-card v-for="challenge in availableChallenges" :key="challenge.id">
        <v-card-title>
          <h2 style="width: 100%;">{{challenge.title}}</h2>
          <span>{{ formattedDate(challenge.startDate) }} - {{ formattedDate(challenge.endDate) }}</span>
          <div class="reward-label-container">
            <img src="/img/credits.png">
            <span>100</span>
          </div>
        </v-card-title>
        <v-card-text>
          <v-layout row>
            <v-flex xs-6>
            </v-flex>
          </v-layout>
          <span><strong>Beskrivning:</strong></span>
          <p>{{ challenge.description }}</p>
          <span><strong>Hitta följande arter:</strong></span>
           <v-list two-line>
              <template v-for="species in challenge.speciesGoals">
                <v-divider :key="species.name"></v-divider>
                <v-list-tile avatar :key="species.name">
                  <!--<v-list-tile-avatar>
                    <img :src="species.image">
                  </v-list-tile-avatar>-->
                  <v-list-tile-content>
                    <v-list-tile-title v-html="titleCase(species.name)"></v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
              </template>
            </v-list>
            <div style="text-align: center;">
              <v-btn large @click="activateChallenge(challenge)" color="success" style="text-transform: none;">Anta utmaning!</v-btn>
            </div>
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex xs12>
    </v-flex>
  </v-layout>
</template>

<script>
import moment from 'moment';
import ProgressBar from '@/components/ProgressBar';

moment.locale('sv');

export default {
  components: {
    ProgressBar
  },
  data() {
    return {
      challenges: []
    };
  },
  computed: {
    activeChallenges() {
      return this.challenges.filter((c) => {
        return c.challangeParticipants.find(p => p.email === this.$store.state.userEmail)
      });
    },
    availableChallenges() {
      return this.challenges.filter((c) => {
        return !(c.challangeParticipants.find(p => p.email === this.$store.state.userEmail))
      });
    }
  },
  methods: {
    async getChallenges() {
      const challenges = await this.$axios.$get(process.env.apiBaseUrl + '/countyCompetition');
      console.log('Challenges: ', challenges);
      return challenges;
    },
    formattedDate(date) {
      console.log(date);
      return moment(date).format('D MMMM');
    },
    titleCase(word) {
      return word[0].toUpperCase() + word.slice(1);
    },
    async activateChallenge(challenge) {
      const email = this.$store.state.userEmail;
      const res = await this.$axios.$get(`${process.env.apiBaseUrl}/countycompetition/apply/${email}/${challenge.id}`)
      if(res === true) {
        console.log('Push participant');
        challenge.challangeParticipants.push({ email: email });
      }
    },
    getChallengeProgress(challenge) {
      const progressObj = challenge.challangeProgress.find(p => p.user.email === this.$store.state.userEmail);
      if(!progressObj) {
        console.log('No progress obj');
        return {
          value: 0,
          found: 0,
          total: challenge.speciesGoals.length
        }
      }
      return {
        value: progressObj.found.length / challenge.speciesGoals.length * 100,
        found: progressObj.found.length,
        total: challenge.speciesGoals.length
      }
    }
  },
  async created() {
    this.challenges = await this.getChallenges();
    console.log(this.challenges[0].challangeParticipants);
  }
};
</script>

<style lang="scss">
.card {
  margin-bottom: 20px;

  .reward-label-container {
    position: absolute;
    right: 40px;
    top: 20px;

    span {
      font-size: 30px;
      line-height: 40px;
    }

    img {
      width: 30px;
      display: block;
      float: left;
      margin-top: 4px;
      margin-right: 10px;
    }
  }
}
.card__text {
  padding-top: 0;
}

.list__tile {
  height: 40px !important;
}
</style>
