<template>
  <v-layout column justify-center align-center>
    <h2>Identifiera art</h2>
    <species-form></species-form>
    <main-menu class="main-menu"></main-menu>
  </v-layout>
</template>

<script>
import SpeciesForm from '@/components/SpeciesForm';
import MainMenu from '@/components/MainNavigation';

export default {
  components: {
    SpeciesForm,
    MainMenu
  }
};
</script>

<style lang="scss" scoped>
h2 {
  margin-bottom: 20px;
}

.main-menu {
  margin-top: 20px;
}
</style>
