<template>
  <v-layout column justify-center align-center>
    <h1>Project art</h1>
    <v-flex xs12>
      <v-text-field
        label="E-post"
        v-model="userEmail"
        required
      ></v-text-field>
    </v-flex>
    <v-flex xs12>
      <v-btn large @click="login">Logga in</v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
import SpeciesForm from '@/components/SpeciesForm';
import MainMenu from '@/components/MainNavigation';

export default {
  layout: 'login',
  components: {
    SpeciesForm,
    MainMenu
  },
  data() {
    return {
      userEmail: ''
    }
  },
  methods: {
    login() {
      this.$store.commit('setUserEmail', this.userEmail);
      this.$router.push('/home');
    }
  }
};
</script>

<style lang="scss" scoped>
h2 {
  margin-bottom: 20px;
}

.main-menu {
  margin-top: 20px;
}
</style>
