<template>
  <v-layout row wrap class="">
    <v-flex xs12>
    <h1>Ranking</h1>
    </v-flex>
    <v-data-table
    :headers="headers"
    :items="items"
    hide-actions
    class="elevation-1"
    style="width: 100%;"
  >
    <template slot="items" slot-scope="props">
      <td>{{ props.item.name }}</td>
      <td class="text-xs-right">{{ props.item.score }}</td>
    </template>
  </v-data-table>
  </v-layout>
</template>

<script>
export default {
  data() {
    return {
      headers: [{ text: 'Användare' }, { text: 'Poäng', align: 'right'}],
      items: [{ name: 'Kurt nilsson', score: 1243 }, { name: 'Kalle Olsson', score: 932 } ]
    }
  }
};
</script>

<style lang="scss">
</style>
