<template>
  <v-layout row wrap class="species-details">
  <submission-confirmation :visible="confirmationDialogVisible"></submission-confirmation>
    <v-flex xs12>
      <h1>{{speciesName}}</h1>
      <span>{{speciesLatinName}}</span>
    </v-flex>
    <v-flex xs12>
      <v-card>
        <v-card-title>
          <v-form v-model="valid" class="sighting-form">
            <v-layout row>
              <v-flex xs8>
                <v-dialog
                  ref="dateDialog"
                  persistent
                  v-model="dateModal"
                  lazy
                  full-width
                  width="290px"
                  :return-value.sync="date"
                >
                  <v-text-field xs4
                    slot="activator"
                    label="Datum"
                    v-model="date"
                    prepend-icon="event"
                    readonly
                  ></v-text-field>
                  <v-date-picker v-model="date" scrollable>
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="dateModal = false">Avbryt</v-btn>
                    <v-btn flat color="primary" @click="$refs.dateDialog.save(date)">OK</v-btn>
                  </v-date-picker>
                </v-dialog>
                <v-dialog
                  ref="timeDialog"
                  persistent
                  v-model="timeModal"
                  lazy
                  full-width
                  width="290px"
                  :return-value.sync="time"
                >
                  <v-text-field xs4
                    slot="activator"
                    label="Tid"
                    v-model="time"
                    prepend-icon="access_time"
                    readonly
                  ></v-text-field>
                  <v-time-picker v-model="time" format="24hr" actions>
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="timeModal = false">Avbryt</v-btn>
                    <v-btn flat color="primary" @click="$refs.timeDialog.save(time)">OK</v-btn>
                  </v-time-picker>
                </v-dialog>
                </v-flex>
                <v-flex xs4>
                <img :src="imgSrc" alt="species image" class="species-image" >
              </v-flex>
              </v-layout>
              <v-layout row>
                <v-flex xs6>
                  <v-text-field
                    label="Antal"
                    v-model="count"
                    mask="######"
                  ></v-text-field>
                </v-flex>
                <v-flex xs6 ml-1>
                  <v-text-field
                    label="Position"
                    :value="formattedLocation"
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row>
                <v-flex xs12 class="comment-field">
                  <v-text-field
                    label="Publik kommentar"
                    v-model="publicComments"
                    :multi-line="true"
                  ></v-text-field>
                  <v-text-field
                    label="Intern kommentar"
                    v-model="internalComments"
                    :multi-line="true"
                  ></v-text-field>
                </v-flex>
            </v-layout> 
          </v-form>
        </v-card-title>
      </v-card>
    </v-flex>
    <v-flex xs-12 class="submit-button-container">
      <v-btn color="success" large @click="submitSighting"
      >Skicka in</v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
import moment from 'moment';
import SubmissionConfirmation from '@/components/SubmissionConfirmation';

export default {
  components: {
    SubmissionConfirmation
  },
  data() {
    return {
      valid: true,
      speciesName: 'Ekorre',
      speciesLatinName: '',
      date: moment().format('YYYY-MM-DD'),
      dateModal: false,
      timeModal: false,
      time: moment().format('HH:MM'),
      count: 1,
      publicComments: '',
      internalComments: '',
      location: 'Hämtar...',
      imgSrc: null,
      confirmationDialogVisible: false
    };
  },
  computed: {
    formattedLocation() {
      if (this.location.latitude) {
        return `${this.location.latitude}, ${this.location.longitude}`;
      }
      return this.location;
    }
  },
  methods: {
    getLocation() {
      if (navigator.geolocation) {
        console.log('Getting position');
        navigator.geolocation.getCurrentPosition(
          position => {
            console.log('Position found: ', position);
            this.location = position.coords;
          },
          err => {
            console.log('Could not get position: ', err);
            this.location = 'Ange';
          }
        );
      }
    },
    async submitSighting() {
      console.log('Submit sighting!');
      this.confirmationDialogVisible = true;
      const res = await this.$axios.$get(process.env.apiBaseUrl + 
      '/registersight/' +
      this.$store.state.userEmail +
      '/' + this.activeSpecies.tag +
      '/' + this.activeSpecies.sweName
      )
      console.log('Submission result: ', res);
    }
  },
  created() {
    console.log('Submit sighting created');
    console.log(this.$store.state.activeSpecies);

    this.activeSpecies = this.$store.state.activeSpecies;

    const sweName = this.activeSpecies.sweName;
    this.speciesName = sweName.charAt(0).toUpperCase() + sweName.slice(1);
    this.speciesLatinName = this.activeSpecies.latName;
    if(this.$store.state.activeSpeciesImgSrc) {
      this.imgSrc = this.$store.state.activeSpeciesImgSrc;
    }
    this.getLocation();
  }
};
</script>

<style lang="scss">
.sighting-form {
  width: 100%;
}
.comment-field {
  textarea {
    width: 100%;
  }
}
.submit-button-container {
  text-align: center;
  margin-top: 15px;
}
.species-image {
  margin-left: 10px;
  width: 100%;
  border-radius: 10px;
}
</style>
